<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
<script type="text/javascript" src="../SiteAssets/SPAjax/SP_Ajax.js"></script> 

<input type='button' onclick = 'getListItems();' value='test'/>